{% include 'head.html' %}

<body class="p-sm-3">
<style>
    [name="search_url"] {
        width: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            Url basis: <strong>{{base_url}}</strong><br><br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Zoek">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <pre>{{ decos_data }}</pre>
        </div>
    </div>
</div>
</body>
</html>
